body {
    background: linear-gradient(90deg, #0c1e50 100%, #0f172a 70%, #020617 40%);
}

.boot-screen h1 {
    font-size: 6rem;
    margin-top: 0%;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(64, 206, 64), rgb(90, 90, 206), white, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    font-family:'Courier New';
}
    
.boot-text{
    color: rgb(0, 128, 0);
    font-size: 1.5rem;
    text-align: center;
}

.enter {
    border-radius: 1rem;
   margin-left: 46%;
   padding: 1rem 2rem;
}